<div class="grid">
    <form (submit)="onSubmitContact($event)" class="col-12">
    <div class="col-12">
        <p-messages></p-messages>
        <div class="p-inputgroup mb-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-id-card"></i>
            </span>    
            <input pInputText placeholder="Titel" [(ngModel)]="titles" name="titles" />
        </div>
        <div class="p-inputgroup mb-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Vorname*" [(ngModel)]="vorname" name="vorname"/><span class="p-inputgroup-addon p-error">*</span>
        </div>
        <div class="p-inputgroup mb-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-filled pi-user"></i>
            </span>
            <input pInputText placeholder="Name*" [(ngModel)]="nachname" name="name" />
            <span class="p-inputgroup-addon p-error">*</span>
        </div>
        <p-selectButton styleClass="mb-5"  [options]="genderOptions" name="gender" [(ngModel)]="gender" optionLabel="label" optionValue="value"></p-selectButton>
        <div class="flex">

            <div class="flex direction-column ml-auto">
                <p-button label="Abbrechen" (click)="ref.destroy()" styleClass="p-button-danger mr-2" icon="pi pi-times"></p-button>
                <p-button type="submit" label="Kontakt hinzufügen" styleClass="p-button-success mr-auto" icon="pi pi-plus"></p-button><br>
            </div>
        </div>
    </div>
    </form>

</div>
