<p-confirmPopup></p-confirmPopup>

<p-table id="tableCard" *ngIf="contacts.length != 0" [value]="contacts"  styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Titel</th>
            <th>Vorname(n)</th>
            <th>Name(n)</th>
            <th>Geschlecht</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
        <tr>
            <td>{{ contact.titles.join(" ") }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.surname }}</td>
            <td>{{ getGenderString(contact.gender) }}</td>
              <td class="toolbarCol" >
                <div class="flex">
                    <div class="ml-auto">
                        <button pButton pRipple label="Anrede generieren" (click)="generateEmail(contact)" icon="pi pi-envelope" class="p-button-rounded p-button-success mr-2" ></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editContact(contact)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger " (click)="deleteContact(contact, $event)"></button>
                        
                    </div>
                </div>
                </td>
        </tr>
    </ng-template>
</p-table>