// /* You can add global styles to this file, and also import other style files */
@import url("primeicons/primeicons.css");
@import url("primeng/resources/themes/soho-dark/theme.css");
@import url("primeng/resources/primeng.min.css");
@import url("primeflex/primeflex.css");


.toolbarCol{
    max-width: 8rem;
}

body{

    margin:0;
    padding:0;
    overflow-x:hidden;
}

.copyIcon{
    cursor: pointer !important;
    font-size: 1.5rem !important;
}

#center{
    max-height: 75vh;
}

#leftCol p-card:last-child{
    padding-top:0;
}

#leftCol, #rightCol{
    min-height: 100%;
    overflow-y: auto;
}

#rightCol{
    padding-left:0;
    height:50vh;
    overflow-y:hidden;
}

#rightColCard{
    height:50vh;
    display:inline-block;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    
}

#rightCol .p-card-content{
    height:100%;
}

#rightCol .p-card{
    height:calc(100% - 0.5rem);
    > * {
        height:100%;
    }
}

.p-inputgroup-addon.p-error{
    color: var(--red-500);   
}

span.error{

    background-color: var(--red-500);
    // color: var(--red-500 );
}


#mainCard .p-datatable > .p-datatable-wrapper {
    overflow-y: hidden !important;
}

.titleList{
    display:inline-block;
    height:100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    > * {
        height:100%;
    }
    .p-datatable-wrapper{
        height:calc(100% - 0.5rem) !important;
    }
}



app-title-list{
    display:inline-block;
    height:100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}